<robot name="car">
    <link name="base_link">
        <visual>
            <geometry >
                <!-- <cylinder radius="1" length="2" /> -->
                <!-- <sphere radius="0.5" /> -->
                <!-- <box size="1 1 1" /> -->
                <mesh filename="package://urdf1/meshes/autolabor_mini.stl"/>    
            </geometry>
            <origin xyz= "3 0 0" rpy="1.58 0 0"/>
            <material name = "white">
                <color rgba = "1 1 1 0.5"/>
            </material> 
        </visual>
    </link>
    <link name="camera_link">
        <visual>
            <geometry>
                <cylinder radius="0.01" length="0.1"/>
            </geometry>
            <material name="blue">
                <color rgba="0 0.4 0.8 1"/>
            </material>
            <origin xyz="3 0 0.05" rpy="0 0 0"/>   
        </visual>
    </link>     
    <joint name="base_link_to_map" type="fixed">
        <parent link="base_link"/>
        <child link="camera_link"/>
        <origin xyz="0 0 0" rpy="0 0 0"/>
    </joint>
</robot>


